[user]
	email = dmarques2@gmail.com
	name = Diogo Marques

[alias]
	l = log --relative-date --graph --abbrev-commit -10

[format]
	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[http "https://*.petrobras.com.br"]
	sslVerify = false
